<div class="container">
    <div class="bg-dark fw-bold text-light mt-2 p-1 border-2 border-secondary rounded">
      
      <p class="fs-4 text-center">Teacher Dashboard</p>
        
    </div>

<div class="d-flex justify-content-around p-1">
    
    <div class="card w-25 h-100 p-1 m-3">
        <h4 style="text-align: center;">
            View Students<br><br>
            <img src="assets\i4.png" height="250" width="250"> 
        </h4>
       
        <div align="center">
            <a href="" class="btn btn-primary w-25 p-1 m-4 btn-outline-">View</a>
        </div>
    </div>
    <div class="card card w-25 h-100 p-1 m-3">
        <h4 style="text-align: center;">
            Students Attandence
            <br><br>
            <img src="assets\i2.png" height="250" width="250"> 
        </h4>
        <div align="center">
            <input type="button" value="Attandence" class="btn btn-primary w-30 p-1 m-4 btn-outline-dark " />
        </div>
    </div>
    <div class="card  w-25 h-100 p-1 m-3" >
        <h4 style="text-align: center;">
           Capture Attandence
           <br><br>
            <img src="assets\i3.png" height="250" width="250"> 
        </h4>
    <div align="center">
        <input type="button" value="Capture" class="btn btn-primary w-25 p-1 m-4 btn-outline-dark" />
    </div>
    </div>

</div>
